*{
    margin: 0;
    padding: 0;
}
.header--background
{
    background-color: #000324;
}
.nav-text
{
    font-size: 1.25rem;
}

.logo
{
    width: 8.938rem;
    height: 6.25rem;
}

.white-box
{
    border: .125rem solid white;
}

.icon--width
{
    width: 12.5 rem;
}
#hotelbg
{
    background-image:url(../assets/hotelMarkupAssets/bg2.jpg);
    width: 100%;
    height: 738px;
}

.hamster-images
{
    width: 35.063rem;
    height: 14.625rem;
}
#amenities-background
{
    background-image: url(../assets/hotelMarkupAssets/bg.jpg);
    width: 100%;
    height: 548px;
}

.background-fixes
{
    background-color: #000324;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* #hotel-pool
{
    background-image: url(../assets/hotelMarkupAssets/header.jpg);
    width: 100%;
    
    background-repeat: no-repeat;
} */

.fs-1
{
    font-size: 1rem;
}

.padding-left-1
{
    padding-left: 1rem;
}

.hero-text-bg
{
    background-color: #000324CC;
}