*{
    margin: 0;
    padding: 0;
}
.header--background
{
    background-color: #000324;
}
.nav-text
{
    font-size: 1.25rem;
}

.logo
{
    width: 8.938rem;
    height: 6.25rem;
}

.white-box
{
    border: .125rem solid white;
}

.icon--width
{
    width: 12.5 rem;
}
#hotelbg
{
    background-image:url(../assets/hotelMarkupAssets/bg2.jpg);
    width: 100%;
    height: auto;
}

.hamster-images
{
    width: 35.063rem;
    height: 14.625rem;
}
#amenities-background
{
    background-image: url(../assets/hotelMarkupAssets/bg.jpg);
    width: 100%;
    height: 548px;
}

.background-fixes
{
    background-color: #000324;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.fs-1
{
    font-size: 1rem;
}

.padding-left-1
{
    padding-left: 1rem;
}

.hero-text-bg
{
    background-color: #000324CC;
    width: 945px; 
    height: 232px;
}

.card-width-height
{
    width: 369px; 
    height: 522px;
}
.card-one-responive{
    display: flex;
    justify-content: end;
}

.card-three-responsive
{
    display: flex;
    justify-content: start;
}
.navbar-btn-responsive
{
    display: flex;
    justify-content: center;
}
#hotel-pool
{
    background-image: url(../assets/hotelMarkupAssets/header.jpg); 
    height: 500px;
}
#hamster-on-chair{
    width: 369px; 
    height: auto;
}
/*Media Query example*/

@media only screen and (max-width:900px) {
	.all-cards {
		float: none;
		width: auto;
		
	}

    .card-one-responive{
        display: flex;
        justify-content: center;
        
    }
    .card-three-responsive
{
    display: flex;
    justify-content: center;
}
.hamster-images
{
    width: 100%;
}
.reverse-column-small{
    display: flex;
    flex-direction: column-reverse;
}
.navbar-btn-responsive{
    display: flex;
    justify-content: start;
}
.hero-text-bg{
    width: 100%;
}
.custom-text-center
{
    text-align: center;
}
#amenities-background{
    height: auto;
}
#extra-margin-bottom{
    margin-bottom: 2rem;
}
}
@media only screen and (max-width:500px)
{
    h1{
        font-size: 100%;
        color: red;
    }
}